<!DOCTYPE html>
<html>
    <head>
        <title>User List</title>
    </head>
    <body>
        <div class="container">
        <h3><a href="/users/create">Create User</a></h3>
        <h1>User List</h1>
            {% if users is not empty %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td><a href="/users/show/{{ user._id }}">{{ user.name }}</a></td>
                            <td>{{ user.age }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div>No Users found.</div>
            {% endif %}
        </div>
    </body>
</html>